<div class="social-links social-links-minimal">
  <a class="social-link social-link-github" href="https://github.com/kampersanda">
    <i class="fa fa-github" aria-hidden="true"></i>
    <span>GitHub</span>
  </a>
  <a class="social-link social-link-x" href="https://x.com/kampersanda">
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <span>X</span>
  </a>
  <a class="social-link social-link-speakerdeck" href="https://speakerdeck.com/kampersanda">
    <i class="fa fa-slideshare" aria-hidden="true"></i>
    <span>Speaker Deck</span>
  </a>
  <a class="social-link social-link-scholar" href="https://scholar.google.com/citations?user=9N9FgNQAAAAJ">
    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    <span>Google Scholar</span>
  </a>
  <a class="social-link social-link-researchmap" href="https://researchmap.jp/kampersanda">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <span>researchmap</span>
  </a>
  <a class="social-link social-link-orcid" href="https://orcid.org/0000-0002-5462-122X">
    <i class="fa fa-user" aria-hidden="true"></i>
    <span>ORCID</span>
  </a>
</div>
